 @import url('https://fonts.googleapis.com/css?family=Roboto');
 .body {
    font: Roboto;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 145%;
	
  }

#nav li{  /* Navigationsleiste horizontal*/
	display: inline; /*Listenelemente nebeneinander*/
	list-style-type: none;
}
#nav {    /* Navbar-Hintergrund*/
	background-image: linear-gradient(to top, #E6E6E6 0%, #BDBDBD 50%);
	padding: 20px 0;  /*Innenabstand: oben/unten 4px, li/re 0 */
	border-bottom: 1px solid #000000;
	margin-top: 0;
	
}

#nav a {  /*Navbar Schrift*/
	color: #2E2E2E;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
	
}
#nav a:hover {
	background-color: #848484;
	padding: 20px 20px;
}


#footer {   /* Footerbereich */
    background-color: #FFFFFF;
    color: grey;
    height: 80px;
    width: 100%;
    min-width: 500px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
#left {     /* Linke Spalte */
    font-size: ;
    width: 40%;
    float: left;
    padding: 15px 0px 0px 10px;
    margin: 0px auto 0px auto;
    text-align: left;
}
#center {   /* Mittlere Spalte */
    width: auto;
    float: left;
    padding: 15px 0px 0px 0px;
    margin: 0px auto 0px auto;
    text-align: center;
}
#right {    /* Rechte Spalte */
    width: 55%;
    float: right;
    padding: 15px 10px 0px 0px;
    margin: 0px auto 0px auto;
    text-align: right;
}
#clear {    /* Beendet den Float-Bereich */
    clear: both;
}

.website {margin: 0px 200px 0px 200px;}